/* STYLE do JFDZS2CI-6 - Zapis na premierę */
.container-fluid.registration {
    padding: 0;
    background-image: url("../images/spear.jpg");
    opacity: 0.75;
    height: 400px;
}
.container.registration {
    padding-top: 120px;
}
.container-fluid.registration h2 {
    font-size: 32px;
    font-family: Pontano, Arial, sans-serif;
    color: darkorange;
    font-weight: 700;
    text-align: center;
}
.container-fluid.registration p {
    font-size: 20px;
    font-family: Pontano, Arial, sans-serif;
    color: darkorange;
    font-weight: 500;
    text-align: center;
}
label{
    color: darkorange;
    font-size: 20px;
    font-family: Pontano, Arial, sans-serif;
    font-weight: 500;
    text-align: center;
}
form input {
    background: transparent;
    border: 1px solid darkorange;
    color: #ffffff;
}
.btn {
    background: darkorange;
    color: black;
    width: 100%;
    font-size: 20px;
    font-family: Pontano, Arial, sans-serif;
    font-weight: 500;
}




