/*STYLE DLA GRY*/
body    {
    margin: 0px;
    padding: 0px;
    background-color: #192440;
    font-family: 'Myriad Pro', sans-serif;
    color: #9CFFFC;
}

#logo   {
    display: block;
    margin-left: 34%;
    width: 50%;
    padding:30px;
}

#board  {
    max-width: 600px;
    border: #9CFFFC solid 1px;
    background-color: #192440;
    margin:0 auto;
    margin-top: 20px;
    height: 450px;
}

#board-easy  {
    max-width: 590px;
    border: #9CFFFC solid 1px;
    background-color: #192440;
    margin:0 auto;
    margin-top: 20px;
    height: 440px;
}
#board-difficult  {
    max-width: 590px;
    border: #9CFFFC solid 1px;
    background-color: #192440;
    margin:0 auto;
    margin-top: 20px;
    height: 585px;
}

.cart {
    width: 136px;
    height: 136px;
    float: left;
    margin: 5px;
    border: #9CFFFC solid 1px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.cart:hover{
    filter: brightness(50%);
    transition: all .3s ease-in-out;
}

.hidden-cart {
    opacity: 0;
    transition: all 1.0s ease-in-out;
}

#points{
    border: #9CFFFC solid 2px;
    height: 150px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

#points p {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    line-height: 70px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Myriad Pro', sans-serif;
}

/*STYLE DLA MENU*/
 .btn-game {
     margin-top: 22px;
     background: #9CFFFC;
     border-radius: 21px;
     color: #192440;
     width: 50%;
     font-size: 21px;
     font-family: 'Myriad Pro', sans-serif;
     font-weight: 500;
     margin-bottom: 22px;
 }
.btn-game a {
    text-decoration: none;
    color: #192440;
}
.btn-game a:hover {
    text-decoration: none;
    color: #192440;
    font-weight: 600;
}

 .button-back{
     text-align: center;
 }

.btn-back a {
    text-decoration: none;
    color: #192440;
}
.btn-back a:hover {
    text-decoration: none;
    color: #192440;
    font-weight: 600;
}

 /*STYLE DLA INSTRUKCJI */
#board-instruction  {
    max-width: 650px;
    border: #9CFFFC solid 1px;
    background-color: #192440;
    margin:0 auto;
    margin-top: 20px;
    height: 550px;
}
.instruction-text ol>li {
    color: #daf8e5;
    font-size: 20px;
    padding: 5px;
}

.instruction-text h2 {
    font-size: 32px;
    padding: 5px;
    color: #9CFFFC;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.instruction-text p {
    font-size: 20px;
    padding: 5px;
    color: #9CFFFC;
    text-align: center;
    font-weight: 600;
}
