body    {
    margin: 0px;
    padding: 0px;
    background-color: #192440;
}

#logo   {
    display: block;
    margin-left: 34%;
    width: 50%;
    padding:30px;
}

#board  {
    max-width: 600px;
    border: #9CFFFC solid 1px;
    background-color: #192440;
    margin:0 auto;
    margin-top: 20px;
    height: 450px;
}

.cart {
    width: 136px;
    height: 136px;
    float: left;
    margin: 5px;
    border: #9CFFFC solid 2px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.cart:hover{
    filter: brightness(50%);
    transition: all .3s ease-in-out;
}

.hidden-cart {
    opacity: 0;
    transition: all 1.0s ease-in-out;
}

#points{
    border: #9CFFFC solid 2px;
    height: 130px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

#points p {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    line-height: 63px;
}

